.card {
    width: 300px; /* Ancho de la tarjeta */
    padding: 15px; /* Espacio interno de la tarjeta */
    border: 3px solid #000000; /* Borde de la tarjeta */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra de la tarjeta */
    background-color: #fafafa; /* Color de fondo de la tarjeta */
    margin: 20px;
    box-shadow: 19px 23px 5px 2px rgba(0,0,0,0.36);
    -webkit-box-shadow: 19px 23px 5px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: 19px 23px 5px 2px rgba(0,0,0,0.36);
    
  }
  .card:hover{
    background-color: rgb(226, 222, 222) ;
    
  }
  
  /* Estilos para el encabezado de la tarjeta */
  .header {
    font-size: 30px; 
    font-weight: bold; 
    margin-bottom: 10px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
  }
  .header:hover{
    text-shadow: 0 0 10px rgb(208, 12, 12) , 0 0 20px rgb(225, 47, 47)  ;
}
 
  /* Estilos para el pie de la tarjeta */
  .footer {
    margin-top: 10px; 
    color: #1b1a1a; 
  }
  .image{
    border-radius: 0%;
    transition:all .5s ease-in-out;
    width: 250px;  
}

.image:hover{
    border-radius: 0%;
    transition:all .5s ease-in-out;
    filter: none;
    box-shadow: 19px 23px 5px 2px rgba(0,0,0,0.36);
    -webkit-box-shadow: 19px 23px 5px 2px rgba(0,0,0,0.36);
    -moz-box-shadow: 19px 23px 5px 2px rgba(0,0,0,0.36);
}

a{
  text-decoration:none;
}
.button{
  margin: 5px;
    padding: 8px;
    border: 2px solid #111111;
    background-color: #fdfdfb;
    color: #0a0000;
    font-size: small;
    font-weight: 300;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    right: 130px;
  }
  .button:hover{
    background-color: #f60909;
}