.detailsContainer {
  position: relative;
  background-image: url("https://media0.giphy.com/media/gtuQIOTlQdk9Mx3L5i/giphy.gif?cid=ecf05e47t1njk6417rp5yxw5ly21lluxsiohhthopveid5ea&ep=v1_gifs_search&rid=giphy.gif&ct=g");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex; /* Utilizamos flexbox para alinear los elementos en línea */
  justify-content: center; /* Centramos los elementos horizontalmente en el navegador */
  align-items: center;
}
.img {
  width: fit-content;
}
.detailsCard,
.imageCard {
  color: white;
  width: 474px; /* Ancho de las tarjetas */
  margin: 10px; /* Espacio entre las tarjetas */
  padding: 15px; /* Espacio interno de las tarjetas */
  border: 3px solid #000000; /* Borde de las tarjetas */
  border-radius: 8px; /* Bordes redondeados */
  background-image: url("https://media1.giphy.com/media/xT8qBfjJhOmNPTVWU0/giphy.gif?cid=ecf05e47zi8umfjh0i33mjg7t41wfmtu3o5g19yuydca8km4&ep=v1_gifs_search&rid=giphy.gif&ct=g"); /* Color de fondo de las tarjetas */
  box-shadow: 19px 23px 5px 2px rgba(0, 0, 0, 0.36);
  text-align: center;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h1 {
  font-size: xx-large;
  display: flex; /* Utilizamos flexbox para alinear los elementos en línea */
  justify-content: center;
  color: red;
  transition: color 0.3s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h1:hover {
  color: rgb(141, 67, 67);
}
.button {
  text-align: center;
  color: #f1eeee; /* Color del texto del botón */
  /* Tamaño y relleno */
  padding: 10px 20px; /* Espacio interno (vertical, horizontal) */
  font-size: 20px; /* Tamaño de la fuente */
  /* Bordes y sombra */
  border-radius: 2px; /* Bordes redondeados */
  box-shadow: 9px 9px 15px rgba(25, 25, 25, 0.2); /* Sombra leve */
  /* Transición para efecto suave */
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background-color: #a19d9d; /* Cambia el color de fondo en hover */
}
.button:active {
  background-color: #6ee164; /* Cambia el color de fondo al hacer clic */
}
