.bodyContainer {
  background-image: url("https://wallpaperaccess.com/full/2786200.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  text-align: center;
}

.heading {
  font-size: 48px;
  color: rgb(247, 247, 247);
  text-shadow: 0 0 10px rgb(250, 3, 3), 0 0 20px rgb(253, 169, 2),
    0 0 30px rgb(255, 242, 0), 0 0 40px #0f010d, 0 0 70px #ff00de,
    0 0 80px #1a0117, 0 0 100px #ff9900;
  margin-top: -380px; /* Espacio desde la parte superior */
}
.heading:hover {
  /* Efecto para el texto en hover */
  text-shadow: 0 0 15px rgb(243, 242, 242), 0 0 25px rgb(253, 169, 2),
    0 0 35px rgb(255, 242, 0), 0 0 45px #0f010d, 0 0 75px #ff00de,
    0 0 85px #1a0117, 0 0 105px #ff9900;
}


.buttonLink {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Sombra más suave */
  border-radius: 5px; /* Bordes redondeados */
  color: #333; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  font-size: 18px; /* Tamaño del texto */
  transition: background-color 0.3s, transform 0.3s; /* Transiciones suaves */
}

.buttonLink:hover {
  background-color: #f4f4f2; /* Cambio de color en hover */
  transform: scale(1.1); /* Efecto de escala en hover */
}

