.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Asegura que las tarjetas se envuelvan a una nueva línea si no caben en el ancho del contenedor */
  }
  
   .Pokemon {
    margin: 30px; /* Ajusta el valor según la separación deseada */
  }
