
.navbar {
    background-color: #2d2a2d;
    padding: 20px;
    position: fixed;
    font-size: larger;
    top: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  .searchContainer {
    margin-right: 500px; /* Establece el margen derecho para separar el botón de búsqueda de los elementos de la lista */
  }
  .navbarlist {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbaritem {
    margin: 0 10px;
  }
  
  .navbaritem a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
  }
  
  .navbaritem a:hover {
    background-color: #7b787b;
  }
  body {
    padding-top: 60px;
  }